
 <br>
 <br>
 <h1>STUPID QUESTION</h1>
 <h2><%= @ask %></h2>
     <p>Your question</p>
 <div class="block">
     <h2><%= @coach_ask %></h2>
     <p>Your coach</p>
 </div>

 <%= link_to "go to ask", ask_path %>
