// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/.

h1 {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


a {
  color: rgb(84, 140, 177);
  &:hover {
    color: black;
  }
}

.block {
  background-color: rgb(250, 250, 197);
}
